body {
    background-color: rgb(255, 255, 255);
}

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
}

#conainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    margin: 10px;
}

.imageBox {
    width: 400px;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);
    background-color: white;
    margin:20px 0;
}

.image {
    width: 300px;
}

.filter {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-left: 70px;
    margin-bottom: 20px;
    height:60px;
    align-items: center;
}
input{
   width: 200px;
   height: 20px;
   border-radius: 30px;
   text-align: center;
   padding: 5px 0;
}
.TotalValue{
    display: flex;
    justify-content: center;
    font-size: xx-large;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
}
#navigate{
    display: flex;
    justify-content: center;
    height: 30px;
}
#navigate-btn{
    border:none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-shadow:  0 4px 8px rgba(30, 28, 28, 0.9);
    border-radius: 10px;
}
@media (max-width: 700px) {
    section {
        width: 95%;
        margin-left: 2%;
    }
    .filter {
        width: 95%;
        margin-left:2%;
    }
    input{
        width:180px;

     }
     .imageBox {
        width: 250px;
    }
    .image {
        width: 100%
    }
}
@media (max-width: 380px) {
    .filter {
        width: 100%;
        margin-left:0;
    }
}